
<div class="card mb-3 login-form">
    <div class="card-body">
        <form method="post" action="/login">
            @Html.AntiForgeryToken()

            <div class="mb-3">
                <label for="usernameInput" class="form-label">Username</label>
                <input type="text" class="form-control" id="usernameInput" name="username" required>
            </div>

            <div class="mb-3">
                <label for="passwordInput" class="form-label">Password</label>
                <input type="password" class="form-control" id="passwordInput" name="password" required>
            </div>

            @* <div asp-validation-summary="All" class="text-danger" style="margin-top: 10px;"></div> *@
            <button type="submit" class="btn btn-primary">Login</button>
        </form>
    </div>
</div>