@page "/"

@inject HttpClient Http
@inject NavigationManager NavigationManager

@using ContactDatabase.Shared
@using System.ComponentModel.DataAnnotations

<PageTitle>Login</PageTitle>

<div class="card mb-3 login-form">
    <div class="card-body">
        <EditForm Model="@LoginInput" OnSubmit="HandleFormSubmit">

            <div class="mb-3">
                <label for="usernameInput" class="form-label">Username</label>
                <InputText id="usernameInput" class="form-control" @bind-Value="LoginInput.Username" required/>
            </div>

            <div class="mb-3">
                <label for="passwordInput" class="form-label">Password</label>
                <InputText id="passwordInput" class="form-control" @bind-Value="LoginInput.Password" type="password" required/>
            </div>

            <div class="text-danger error-msg">@ErrorMessage</div>
            <button type="submit" class="btn btn-primary">Login</button>

        </EditForm>
    </div>
</div>


@code {
    private LoginInput LoginInput = new();
    private string ErrorMessage { get; set; } = "";

    private async Task HandleFormSubmit()
    {
        var json = JsonSerializer.Serialize(LoginInput);
        var content = new StringContent(json, Encoding.UTF8, "application/json");
        var response = await Http.PostAsync("/login", content);

        switch (response.StatusCode)
        {
            case HttpStatusCode.OK:
                NavigationManager.NavigateTo("/contactlist");
                break;
            case HttpStatusCode.BadRequest:
                ErrorMessage = "Username and password are required.";
                break;
            default:
                ErrorMessage = "Invalid username or password.";
                break;
        }
    }
}