@page
@model IndexModel


<div class="card mb-3">
    <div class="card-body">
        @if (User.Identity.IsAuthenticated)
        {
            <p style="font-size: 1.5rem; font-weight: bold;">You are logged in as @User.Identity.Name</p>
            <form method="post" asp-page-handler="HandleLogout">
                <button type="submit" class="btn btn-primary">Logout</button>
            </form>
        }
        else 
        {
            <form method="post">
                <div class="mb-3">
                    <label for="inputUsername" class="form-label">Username</label>
                    <input type="text" class="form-control" id="inputUsername" name="LoginInput.Username" required>
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword" name="LoginInput.Password" required>
                </div>
                <div asp-validation-summary="All" class="text-danger" style="margin-top: 10px;"></div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        }
    </div>
</div>