@page
@model IndexModel

@if (User.Identity.IsAuthenticated)
{
    <h1>You are logged in as @User.Identity.Name</h1>
    <br >
    <form method="post" asp-page-handler="HandleLogout">
        <button type="submit" class="btn btn-primary">Logout</button>
    </form>
}
else 
{
    <div class="card mb-3">
        <div class="card-body">
            <form method="post">
                <div class="mb-3">
                    <label for="inputUsername" class="form-label">Username</label>
                    <input type="text" class="form-control" id="inputUsername" name="inputUsername" required>
                </div>
                <div class="mb-3">
                    <label for="inputPassword" class="form-label">Password</label>
                    <input type="password" class="form-control" id="inputPassword" name="inputPassword" required>
                </div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
}

@if (ModelState.ContainsKey("LoginError"))
{
    <div class="text-danger">@ModelState["LoginError"].Errors[0].ErrorMessage</div>
}