@page
@model IndexModel

@if (User.Identity != null && User.Identity.IsAuthenticated)
{
    @if (User.IsInRole("Admin"))
    {
        Response.Redirect("/CreateContact");
    }
    else 
    {
        Response.Redirect("/ContactsList");
    }
}
else
{
    <div class="card mb-3 login-form">
        <div class="card-body">
            <form method="post" asp-page="/Index" asp-page-handler="Login">
                @Html.AntiForgeryToken()

                <div class="mb-3">
                    <label for="usernameInput" class="form-label">Username</label>
                    <input type="text" class="form-control" id="usernameInput" name="username" required>
                </div>

                <div class="mb-3">
                    <label for="passwordInput" class="form-label">Password</label>
                    <input type="password" class="form-control" id="passwordInput" name="password" required>
                </div>
                
                <div asp-validation-summary="All" class="text-danger"></div>
                <button type="submit" class="btn btn-primary">Login</button>
            </form>
        </div>
    </div>
}